.form{
    background: rgba(33, 30, 30, 0.5);
    min-height: auto;
    border-radius: 1px;
    padding: 15px;
    text-align: left;

}

.form h3{
    text-transform: uppercase;
    font-size: x-large;
    margin-bottom: 30px;
}

.btn-success{
    color: #fff;
    background-color: #96A844;
    border-color: #96A844;
}

.bold{
    font-weight: 600;
}

.background_service{
    /*background-image: url("../img/service_background.jpg");*/
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px);*/
}


.imgsize{
    /*width: 150px;*/
    margin: 15px 0;
}

.portfolio-caption:hover{
    /*outline: 4px solid red;*/
    /*-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 5px 5px 3px black;*/

    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio-caption h5{
    color: #fff
}


.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.icon {
    padding: 15px;
    background: #96A844;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.follow{
    font-weight: 600;
    text-transform: uppercase;
}

.fa-ul{
    margin-top: 45px;
}

header.masthead {
    text-align: center;
    color: #fff;
    /*background-image: url(../img/background.jpg);*/
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: fit-content;
}

.page-section h2.section-heading {
    font-size: 34px;
    margin-top: 0;
    color: #ffffff;
    margin-bottom: 25px
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 350px;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #716767;
    text-align: center;
    background-color: rgba(68, 69, 70, 0.3);
}